* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 70%;
    margin: 20px auto;
    background-image: url(../img/mario.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

header {
    width: 100%;
    color: black;
    display: flex;
    /*Flex布局*/
    display: -webkit-flex;
    align-items: center;
}

header #photo {
    width: 100px;
    height: 100px;
    border: skyblue 4px solid;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

header #photo img {
    margin-top: -10px;
    width: 100px;
    height: 140px;
}

#photo,
#intro {
    display: inline-block;
}

#intro {
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    position: relative;
    text-align: center;
}

.nav {
    width: 150px;
    height: 30px;
    background: skyblue;
    border-radius: 10px 10px 0 0;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav:hover{
    border-radius: 20px 20px 0 0;
}

#main {
    width: 100%;
    margin: 30px;
    position: relative;
}

.page {
    width: 100%;
    position: absolute;
}
#p2,#p3,#p4{
    display: none;
}


#exp {
    color: gray;
    animation: fade 1.5s ease;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#edu,
#work {
    width: 50%;
    float: left;
    border-left: 5px grey solid;
    padding: 10px;
}

.exp {
    margin-top: 20px;
}

#exp::after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
}

#sk_bs {
    width: 100%;
    font-size: 16px;
}

#skills {
    width: 50%;
    display: inline-block;
}

#skills ul li {
    list-style: none;
    margin-bottom: 10px;
}

.sk_name {
    width: 20%;
    height: 30px;
    line-height: 30px;
}

.sk_per {
    width: 70%;
}

.sk_name,
.sk_per {
    display: inline-block;
    vertical-align: middle;
}

.outer {
    width: 70%;
    height: 20px;
    border: 1px solid gray;
    margin: 3px;
    border-radius: 10px;
    overflow: hidden;
}

.inner {
    height: 98%;
}

#bar1 {
    width: 70%;
    background: burlywood;
    animation: load1 1s ease-in;
}

@keyframes load1 {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 70%;
        opacity: 1;
    }
}

#bar2 {
    width: 58%;
    background: rgb(151, 159, 194);
    animation: load2 1s ease-in;
}

@keyframes load2 {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 58%;
        opacity: 1;
    }
}

#bar3 {
    width: 55%;
    background: rgb(231, 141, 228);
    animation: load3 1s ease-in;
}
@keyframes load3 {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 55%;
        opacity: 1;
    }
}

#bar4 {
    width: 65%;
    background: rgb(112, 211, 218);
    animation: load4 1s ease-in;
}

@keyframes load4 {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 65%;
        opacity: 1;
    }
}

#bar5 {
    width: 42%;
    background: rgb(112, 218, 130);
    animation: load5 1s ease-in;
}

@keyframes load5 {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 42%;
        opacity: 1;
    }
}

#bar6 {
    width: 55%;
    background: rgb(211, 218, 112);
    animation: load6 1s ease-in;
}

@keyframes load6 {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 55%;
        opacity: 1;
    }
}

#bar7 {
    width: 50%;
    background: rgb(119, 218, 106);
    animation: load7 1s ease-in;
}

@keyframes load7 {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 50%;
        opacity: 1;
    }
}

#bar8 {
    width: 62%;
    background: rgb(218, 169, 112);
    animation: load8 1s ease-in;
}

@keyframes load8 {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 62%;
        opacity: 1;
    }
}

#books {
    width: 50%;
    float: right;
    text-align: center;
}

.books {
    margin-bottom: 10px;
    width: 80%;
    height: 30px;
    border-radius: 15px;
    border: 3px solid rgb(135, 235, 173);
    transition: all 0.5s ease;
    margin: 0 auto;
}
.books:hover{
    background: skyblue;
    font-size: 1.3em;
}
#sk_bs::after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
}


#myself{
    font-size: 1.2em;
    color: grey;
    text-align: center;
}

#mine,#tools{
    margin-top: 30px;
    width: 33%;
    border-left: grey 1px solid;
    float: left;
}
#tools{
    border-right: grey 1px solid;
}
#mine,#tools{
    animation: from_left 0.7s ease-in;
}
@keyframes from_left{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes from_right{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}


#communicate{
    text-align: center;
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
#communicate img{
    width: 20px;
    height: 20px;
}
#communicate div.come{
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.come_left{
    animation: from_left 0.3s ease-in;
    overflow: hidden;
}
.come_right{
    animation: from_right 0.3s ease-in;
    overflow: hidden;
}