*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;    
}

body{
    background-image: url(./img/mario.jpg);
    background-size: cover;
}

header #photo{
    width: 120px;
    height: 160px;
    border: skyblue 4px solid;
    border-radius: 50%;
    overflow: hidden;

}

header #photo img{
    width: 120px;
    height: 160px;
}